.bgcontainer
{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height:100vh;
    background-size: cover;
    width:50vw;
}
.detailedviewheading
{
    color:white;
    font-size:30px;
    padding:10px;
    text-align: center;
    font-weight: 800;
}
.card
{
    border-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:20px;
}
.text-container
{
    padding:15px;
}
.heading
{
    color:black;
    font-weight: 700;
    font-family: "Roboto";
}
.desc
{
    font-size:13px;
    font-weight: 300;
    font-family: "Roboto";
}