.container
{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height:100vh;
}
.card 
{
    background-color: #f6c56c;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding:10px;
}

.title
{
    font-size: 20px;
    font-family: "Bree Serif";
    font-weight: 600;
    color:black;
}
.desc
{
    font-family: "Roboto";
    font-weight: 400;
    color:black;
}
.btn-styles
{
    height:38px;
    width:120px;
    color:white;

}